.details img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
  }
  
  .details-thumb {
    width: 25% !important;
    padding-top: 10px;
  }
  
  .details-thumb:not(:last-of-type) {
    padding-right: 10px;
  }
  
  .details h2 {
    font-weight: 600;
    color: var(--color-primary);
  }
  
  .details p {
    font-weight: 500;
    color: var(--color-text-2);
    font-size: 18px;
  }

  